.fancy-writing{
    font-family: 'Saira Stencil One', cursive;
}

body{
    background-color: aqua;
}

form{
    margin: 20px;
    background-color: aliceblue;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
}

form *{
    margin: 10px;
}

form p{
    color: red;
}

.card{
    margin: 10px;
}

.side-by-side{
    display: inline-block;
}