.fancy-writing{
    font-family: 'Saira Stencil One', cursive;
    font-size: 35px;
}

body{
    background-color: aqua;
}

.float-left{
    float: left;
    height: 100%;
}

.float-right{
    float: right;
}

a{
    color: black;
}

a:hover{
    color: red;
    text-decoration: none;
}

a:visited{
    color: black;
}

form{
    margin: 20px;
    background-color: aliceblue;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
}

form *{
    margin: 10px;
}

form p{
    color: red;
}

.card{
    margin: 10px;
    width: 70%;
}

.card img{
    width: 100%;
}

.width-75{
    width:75%;
}

width-15{
    width: 15%;
}

.side-by-side{
    display: inline-block;
}