<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head"></head>
<body >
<nav th:replace="base :: navbar"></nav>


<!--Logged In Mini Profile Start-->
<div sec:authorize="isAuthenticated()" class="card float-left" style="width: 20%; height:80%; position:fixed">
    <img th:if="${user.getImage() == ''}" src="https://res.cloudinary.com/dmfaehjot/image/upload/v1564415256/Week7Challenge/noimage_hvn1ru.jpg" alt="No image available"/>
    <img th:unless="${user.getImage() == ''}" th:src="${user.getImage()}" class="card-img-top" alt="Image Not Available">
<!--    <img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1564415256/Week7Challenge/noimage_hvn1ru.jpg" class="card-img-top" alt="User profile image">-->
    <div class="card-body">
        <p class="card-text" th:inline="text">
            <b>First Name: </b>[[${user.getFirstName()}]]
        </p>
        <p class="card-text" th:inline="text">
            <b>Last Name: </b>[[${user.getLastName()}]]

        </p>
        <p class="card-text" th:inline="text">
            <b>Username: </b>[[${user.getUsername()}]]
        </p>
        <a class="card-text" href="/userProfile" th:inline="text">
            View/ Update My Profile
        </a>
    </div>
</div>
<!--Logged in Mini Profile End-->

<!--Message Cards Start-->
<!--<h2 class="float-right" th:text="${#lists.size(messages)>0}? 'Welcome to the Message Board' : 'No Messages yet...'"></h2><br/>-->
<div class="card width-75 float-right" th:each="bullhorn : ${messages}">
    <div class="card-header" th:text="${bullhorn.title}"></div>
    <div class="card-body" >
        <blockquote class="blockquote mb-0">
            <p th:text="${bullhorn.content}"></p>
            <img width="25%" th:src="${bullhorn.image}"/>
            <footer>
                <p class="blockquote-footer">

                    Posted By:
<!--                    <span th:if="${bullhorn.postedBy == ''}">Anonymous</span>-->
<!--                    <span th:unless="${bullhorn.postedBy == ''}" th:text="${bullhorn.postedBy}" ></span>-->
                    <span th:text="${bullhorn.user.username}"></span>
                    on
                    <span th:text="${bullhorn.postedDate}"></span>
                </p>
            </footer>
        </blockquote>
    </div>
    <hr/>
    <div>
        <span sec:authorize="isAuthenticated()" th:if="${user.getId() == bullhorn.user.id || user.getId() == 4}">
            <a class="side-by-side" th:href="@{/update/{id}(id=${bullhorn.id})}">Update</a>
            <a class="side-by-side" th:href="@{/delete/{id}(id=${bullhorn.id})}">Delete</a>
        </span>
        <a sec:authorize="isAuthenticated()" class="side-by-side" th:href="@{/detail/{id}(id=${bullhorn.id})}">Details</a>
    </div>
</div>
<!--Message Cards end-->

<div th:replace="base :: javascript"></div>
</body>
</html>