<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head"></head>
<body>
<nav th:replace="base :: navbar"></nav>

<!--Logged In Mini Profile Start-->
<div sec:authorize="isAuthenticated()" class="card float-left" style="width: 18rem;">
<!--    <img th:if="${user.image == ''}" th:src="https://res.cloudinary.com/dmfaehjot/image/upload/v1564415256/Week7Challenge/noimage_hvn1ru.jpg" alt="No image available"/>-->
<!--    <img th:unless="${user.image == ''}" th:src="${user.image}" class="card-img-top" alt="User profile image">-->
    <img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1564415256/Week7Challenge/noimage_hvn1ru.jpg" class="card-img-top" alt="User profile image">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<!--Logged in Mini Profile End-->

<!--Message Cards Start-->
<div class="card float-right" th:each="bullhorn : ${messages}">
    <div class="card-header" th:text="${bullhorn.title}"></div>
    <div class="card-body" >
        <blockquote class="blockquote mb-0">
            <p th:text="${bullhorn.content}"></p>
            <img width="25%" th:src="${bullhorn.image}"/>
            <footer>
                <p class="blockquote-footer">

                    Posted By:
<!--                    <span th:if="${bullhorn.postedBy == ''}">Anonymous</span>-->
                    <span th:unless="${bullhorn.postedBy == ''}" th:text="${bullhorn.postedBy}" ></span>
                    on
                    <span th:text="${bullhorn.postedDate}"></span>
                </p>
            </footer>
        </blockquote>
    </div>
    <hr/>
    <div>
        <a sec:authorize="isAuthenticated()" class="side-by-side" th:href="@{/update/{id}(id=${bullhorn.id})}">Update</a>
        <a sec:authorize="isAuthenticated()" class="side-by-side" th:href="@{/detail/{id}(id=${bullhorn.id})}">Details</a>
        <a sec:authorize="isAuthenticated()" class="side-by-side" th:href="@{/delete/{id}(id=${bullhorn.id})}">Delete</a>
    </div>
</div>
<!--Message Cards end-->

<div th:replace="base :: javascript"></div>
</body>
</html>