<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head"></head>

<body>
<nav th:replace="base :: navbar"></nav>

<!--Form start-->
<form action="#" th:action="@{/process}" th:object="${bullhorn}" method="post">
    <input type="hidden" th:field="*{id}" />

    <input type="hidden" th:field="*{user}" th:value="${user}"/>

    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" th:field="*{title}"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    </div>


    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What do you want to say?" type="text" th:field="*{content}"></textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
    </div>

<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlInput2">Name on Post</label>-->
<!--        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="If left empty you will be named Anonymous" th:field="*{postedBy}"/>-->
<!--        <p th:if="${#fields.hasErrors('postedBy')}" th:errors="*{postedBy}"></p>-->
<!--    </div>-->

    <div class="form-group">
        <label for="exampleFormControlInput3">Add an Image</label>
        <input type="text" value="blank" class="form-control" id="exampleFormControlInput3" placeholder="image url" th:field="*{image}"/>
    </div>

    <input type="submit" value="Post"/>

</form>
<!--Form End-->

<div th:replace="base :: javascript"></div>
</body>
</html>